page-post {
    $text-input-md-highlight-color: color($colors, niceblue);
    .imageblock {
        margin: 0 !important;
        width: 100% !important;
    }
    .error {
        text-align: center;
        color: rgba(242, 89, 42, 0.864);
        font-weight: bold;
    }
}