page-comments {
    background: color( $colors, base);
    .area {
        opacity: 0.65;
    }
    .comment_area {
        margin-top: 20% !important;
    }
    .comment_txt_area {
        margin-top: 10% !important;
    }
    .ion-icon {
        margin-top: 10px !important;
    }
}