page-upload-discussion {
    #input_section {
        margin-top: 5% !important;
    }
    .btn_space {
        margin-top: 15%;
    }
    .input-cover {
        position: static;
    }
    .error {
        text-align: center;
        color: rgba(242, 89, 42, 0.864);
        font-weight: bold;
    }
}